html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
del{text-decoration:line-through}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ul,ol{list-style:none}
:focus{outline:none}
strong{font-weight:bold}
em{font-style:italic}
span.amp{font-family:Baskerville,Palatino,"Book Antiqua",Georgia,"serif";font-style:italic}
.error::-webkit-input-placeholder{color:#f00}
.error:-moz-placeholder{color:#f00}
*:rselection{background:#ffffe0}
*::-moz-selection{background:#ffffe0}
*::-webkit-selection{background:#ffffe0}
a{color:#0be;text-decoration:none;}
a:hover,a:focus{color:#0cf}
body{font-size:13px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#333;background:#f3f3f3;overflow-y:scroll;}
body header.site{width:960px;margin:0 auto;zoom:1;margin-bottom:1em;}
body header.site:before,body header.site:after{content:"";display:table}
body header.site:after{clear:both}
body header.site > ul{border:1px solid #dcdcdc;margin:0 .5em;background:#fff;zoom:1;}
body header.site > ul:before,body header.site > ul:after{content:"";display:table}
body header.site > ul:after{clear:both}
body header.site > ul > li{float:left;border-right:1px solid #dcdcdc;}
body header.site > ul > li > a,body header.site > ul > li > span{display:block;line-height:39px;padding:0 13px;width:155.75px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:bold}
body header.site > ul > li.branding a{width:320px;font-weight:bold;font-size:125%;color:#333}
body header.site > ul > li.account{position:relative;((null)):0;((null)):0;border-right:none;}
body header.site > ul > li.account span{font-weight:bold;display:block;position:relative;((null)):0;((null)):0;}
body header.site > ul > li.account span:after{content:"";height:19px;width:19px;background:#ddd;position:absolute;top:.75em;right:.5em}
body header.site > ul > li.account ul{position:absolute;top:3em;left:-1px;width:159px;display:none;background:#fff;border:1px solid #dcdcdc;}
body header.site > ul > li.account ul li a{display:block;line-height:2em;padding:0 .5em}
body header.site > ul > li.account:hover ul{display:block}
body .site.modules{width:960px;margin:0 auto;zoom:1;margin-bottom:2em;}
body .site.modules:before,body .site.modules:after{content:"";display:table}
body .site.modules:after{clear:both}
body .site.modules ul.modules{border-top:1px solid #ddd;margin:0 .5em;}
body .site.modules ul.modules li{float:left;border-left:1px dashed #ddd;}
body .site.modules ul.modules li a{display:block;padding:0 1em;line-height:3em;color:#333;}
body .site.modules ul.modules li a:hover{color:#333;text-decoration:underline}
body .site.content{width:960px;margin:0 auto;zoom:1;}
body .site.content:before,body .site.content:after{content:"";display:table}
body .site.content:after{clear:both}
body .site.content .widget{width:320px;float:left;-webkit-box-sizing:;-moz-box-sizing:;box-sizing:;margin:0 0 2em;}
body .site.content .widget header{margin:0 6.5px;padding:0 .5em;font:1.25em/2 "Helvetica Neue",Arial,Helvetica,sans-serif;border:1px solid #dcdcdc;border-bottom:1px solid #ebebeb;background:#fff}
body .site.content .widget .content{margin:0 .5em;height:300px;border:1px solid #dcdcdc;border-top:none;background:#fff url("../i/chart.png") -35px center no-repeat}
body a#feedback{font:1.25em/2 "Helvetica Neue",Arial,Helvetica,sans-serif;padding:0 .5em;background:#fff;border:1px solid #dcdcdc;color:#333;position:fixed;top:45%;left:-2%;-webkit-font-smoothing:antialiased;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
body footer.social{width:960px;position:fixed;left:50%;bottom:0;padding:0 .5em;margin-left:-480px;line-height:2em;background:#fff;border:1px solid #dcdcdc;border-bottom:none}
body footer.site{width:960px;margin:0 auto;zoom:1;padding:0 0 3em;}
body footer.site:before,body footer.site:after{content:"";display:table}
body footer.site:after{clear:both}
body footer.site p{line-height:3em;padding:0 .5em}
